# IntelliJ IDEA specific files
.idea/
*.iml
out/
gen/
classes/

# Gradle
.gradle/
build/

# Maven
target/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Java files
*.class

# Temporary files
*.tmp
*.cache

# IntelliJ plugin files
*.ipr
*.iws

# Bin folder
bin/
